
header {
    position: relative;
    background-color:  #a2a29d;
    background-size: contain;
    background-position: top center;
    width: 100%;
    height: 100vh;
}
nav {
    width: 95%;
    height: 200px;
    margin: 10px auto;
}
header img {
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
